# Source files
src/
public/
# Development configs
.gitignore
.eslintrc
.prettierrc
# Dependencies
node_modules/
# Build process
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
# Test files
**/*.test.js
**/*.spec.js
coverage/
# IDE
.idea/
.vscode/
# Don't ignore
!build/
!bin/
!dist/ 